name: レビュー用デプロイ

on:
  # develop ブランチに対する Pull Request で発動
  pull_request:
    branches:
      - develop
    types:
      - opened
      - synchronize
      - labeled

jobs:
  find-backend:
    name: backend service 選定

    runs-on: ubuntu-20.04

    # PReview label がついている場合のみ実行する
    if: |
      ((github.event.action == 'labeled') && (github.event.label.name == 'PReview'))
      ||
      ((github.event.action == 'synchronize') && contains(github.event.pull_request.labels.*.name, 'PReview'))

    outputs:
      api-domain: ${{ steps.api-domain.outputs.result }}

    steps:
      - uses: actions/checkout@v3

      - name: API Server のドメインを取得
        id: api-domain
        uses: actions/github-script@v6
        with:
          script: |
            const description = context.payload.pull_request.body
            if (! description) {
              return "default-backend-server"
            }
            const backend_line = description.split(/\r?\n/).find(str => str.startsWith('backend:'))
            if (backend_line) {
              return backend_line.split(':')[1].trim()
            } else {
              return "default-backend-server"
            }
          result-encoding: string


  deploy:
    name: レビュー用デプロイ

    # PReview label がついている場合のみ実行する
    if: |
      ((github.event.action == 'labeled') && (github.event.label.name == 'PReview'))
      ||
      ((github.event.action == 'synchronize') && contains(github.event.pull_request.labels.*.name, 'PReview'))

    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      checkout-ref: ${{ github.ref }}
      workload-identity-provider: projects/181168524791/locations/global/workloadIdentityPools/ssg-example/providers/gh-ssg-example
      service-account: gha-ssg-example@teraoka-test-331901.iam.gserviceaccount.com
      bucket-name: ssg-example-review-n9k0
      url: "https://storage.googleapis.com/ssg-example-review-n9k0/pr-${{ github.event.pull_request.number }}/index.html"
      issue-number: ${{ github.event.pull_request.number }}
      preview-id: pr-${{ github.event.pull_request.number }}
      api-domain: ${{ needs.find-backend.outputs.api-domain }}
